# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# Database files
*.db
users.db

# Flask logs
flask.err.log
flask.out.log

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
